<script id="template-about" type="text/x-handlebars-template">
  <div class="container">
    <h1>About me</h1>

    <div class="about-text">
      <p>
        I am a Software Engineer with a Full Stack development background.
        Since the beginning I have always been an eager learner,
        not only looking for good practices and techniques,
        but also adopting ones of my own. I always look forward
        to find the most elegant solution to a problem, that's why
        I am not afraid of changing paradigms if that is what it takes.
      </p>
      <p>
        As I described myself, my true nature implies looking for
        innovative technologies for incorporating into new projects
        as well as state-of-the-art development techniques. My biggest concern
        is not just delivering a good product for the client, but always
        thinking ahead of maintainability not only for myself,
        but for my team and other developers so they find it easy start
        developing and it is clear where to do it.
      </p>
      <p>
        I have high standards for satisfaction, what makes me challenge
        my own development in favor of improvement.
      </p>
      <p>
        I enjoy learning from and helping other people.
        A sharing environment promotes personal and professional
        growth to each team member, which translates into an
        awesome human team and ultimately, a great experience.
      </p>
    </div>

    <button class="button">
      <a href="#/experience">Experience</a>
    </button>
  </div>
</script>
