
<script id="template-experience" type="text/x-handlebars-template">
  <div class="container">
    <div class="text-center">
      <div>
        <h1>Experience</h1>
        <p>This is what I've been up to these last years</p>
      </div>
      <section class="cd-timeline js-cd-timeline">
      		<div class="cd-timeline__container">
      			<div class="cd-timeline__block js-cd-block">
      				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
      				</div> <!-- cd-timeline__img -->

      				<div class="cd-timeline__content js-cd-content">
                <h3 class="job-title">Rootstrap</h3>
                <div class="job-title">
                  <strong>Full Stack Developer</strong>
                </div>
                <div class="job-period">
                  January 2015 - December 2017
                </div>
      				</div> <!-- cd-timeline__content -->
      			</div> <!-- cd-timeline__block -->

            <div class="cd-timeline__block js-cd-block">
      				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
      				</div> <!-- cd-timeline__img -->

      				<div class="cd-timeline__content js-cd-content">
                <h3 class="job-title">Tarmac</h3>
                <div class="job-title">
                  <strong>Full Stack Developer</strong>
                </div>
                <div class="job-period">
                  June 2018
                </div>
      				</div> <!-- cd-timeline__content -->
      			</div>

            <div class="cd-timeline__block js-cd-block">
      				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
      				</div> <!-- cd-timeline__img -->

      				<div class="cd-timeline__content js-cd-content">
                <h3 class="job-title">UdelaR</h3>
                <div class="job-title">
                  <strong>Software Engineer</strong>
                </div>
                <div>
                  July 2018
                </div>
      				</div> <!-- cd-timeline__content -->
      			</div>
      		</div>
      	</section> <!-- cd-timeline -->

      <button class="button">
        <a href="#/skills">Toolbox</a>
      </button>
    </div>
  </div>
</script>
