
<script id="template-experience" type="text/x-handlebars-template">
  <div class="text-centered">
    <h1>Experience</h1>
  </div>
  <div class="timeline timeline-experience"  data-vertical-start-position="right" data-vertical-trigger="150px">
      <div class="timeline__wrap">
          <div class="timeline__items">
              <div class="timeline__item timeline__item--right fadeIn">
                  <div class="timeline__content">
                      <h3 class="job-title">Rootstrap</h3>
                      <div class="job-title">
                        <strong>Full Stack Developer</strong>
                      </div>
                      <div class="job-period">
                        January 2015 - December 2017
                      </div>
                  </div>
              </div>
              <div class="timeline__item timeline__item--left fadeIn">
                <div class="timeline__content">
                    <h3 class="job-title">Tarmac</h3>
                    <div class="job-title">
                      <strong>Full Stack Developer</strong>
                    </div>
                    <div class="job-period">
                      June 2018
                    </div>
                </div>
              </div>
              <div class="timeline__item timeline__item--right fadeIn">
                  <div class="timeline__content">
                      <h3 class="job-title">UdelaR</h3>
                      <div class="job-title">
                        <strong>Software Engineer</strong>
                      </div>
                      <div>
                        July 2018
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</script>
