<div class="fat-nav">
    <div id="nav-bar" class="fat-nav__wrapper">
        <ul>
            <li><a href="#/home" data-link="home-link">Home</a></li>
            <li><a href="#/about" data-link="about-link">About</a></li>
            <li><a href="#/experience" data-init="timeline" data-link="experience-link">Experience</a></li>
            <li><a href="#/skills" data-link="skills-link">Skills</a></li>
            <li><a href="#/contact" data-link="contact-link">Contact</a></li>
        </ul>
    </div>
</div>
