<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<link  rel="preload" href="/assets/fonts/Raleway-Regular.ttf" as="font" type="font/ttf" crossorigin>
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">

	<style>
		@font-face {
				font-family: 'Raleway';
				src: url('/assets/fonts/Raleway-Regular.ttf') format('ttf');
				font-weight: 300 900;
				font-display: swap;
		}

		body {
				font-family: 'Raleway', sans-serif;
				font-weight: 300
		}
	</style>
</head>