#customize-list {
	float: left;
	margin-left: 20px;
	list-style: none;
}

#gr_updates_widget {
	float: left;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 4px 1px #595959,
			inset 0px 0px 0px 1px #7D730B;
	-moz-box-shadow: 0px 0px 4px 1px #595959,
			inset 0px 0px 0px 1px #7D730B;
	box-shadow: 0px 0px 4px 1px #595959,
			inset 0px 0px 0px 1px #7D730B;
	padding: 15px 0 0px 15px;
	margin: 0 auto;
}

#gr_footer {
	margin-bottom: 0px;
	height: 30px;
	padding-right: 15px;
}

#gr_updates_widget p {
	padding: 0px;
	margin: 0;
	font-size: 14px;
}

#gr_footer img {
	width: 100px;
	float: left;
}

/* Additional styles for centering */
.widget-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	width: 100%;
}

#gr_updates_widget iframe {
	border: none;
	width: 248px;
	height: 330px;
}