.timeline-experience {
  width: 65%;
  margin: 20px auto;

  .timeline__content {
    border-radius: 0;
    display: flex;
    flex-direction: column;
    height: 140px;
    min-width: 175px;
    justify-content: space-around;
  }
}

.job-title {
  margin: 0;
}
